.login-form-div {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  gap: 2em 0em;
  border-radius: 0.5em;
  padding: 5em 0em;
  background-color: var(--color-surface-200);
}
