.header-div {
  text-align: center;
  color: #fff;
  padding-top: 1em;
}
.header-div h2 {
  font-weight: 400;
  background-color: var(--color-surface-100);
  padding: 0.4em;
  width: 98%;
  margin: 1em auto 0em auto;
  border-radius: 0.2em;
  font-size: medium;
}
