.logoutIcon {
  color: #fff;
  font-size: 1.5em;
}
.logoutIcon:hover {
  cursor: pointer;
  color: var(--color-surface-100);
}
.personIcon {
  color: #fff;
  font-size: 1.5em;
}
.personIcon:hover {
  color: var(--color-surface-100);
  cursor: pointer;
}
.iconsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0em 1em;
}

.headerMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0em 1em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  background-color: var(--color-primary-100);
}

.logoDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0em 1em;
  align-items: center;
}
.logoDiv a {
  display: flex;
  align-items: center;
  justify-content: end;
}

.verticalLine {
  width: 0.01em;
  height: 2em;
  background-color: white;
}
