@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}
:root {
  /** CSS DARK THEME PRIMARY COLORS */
  --color-primary-100: #03a9f4;
  --color-primary-200: #4ab2f5;
  --color-primary-300: #6abcf7;
  --color-primary-400: #84c5f8;
  --color-primary-500: #9bcefa;
  --color-primary-600: #b1d8fb;
  /** CSS DARK THEME SURFACE COLORS */
  --color-surface-100: #121212;
  --color-surface-200: #282828;
  --color-surface-300: #3f3f3f;
  --color-surface-400: #575757;
  --color-surface-500: #717171;
  --color-surface-600: #8b8b8b;
}
body {
  background-color: var(--color-surface-100);
}
header {
  display: flex;
  flex-direction: row;
  padding: 1em 4em;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  font-size: 1em;
  font-weight: lighter;
  background: var(--color-surface-100);
}
article {
  padding: 1em;
  border-radius: 0.4em;
  background-color: var(--color-surface-100);
}

select {
  background-color: var(--color-primary-200);
  border: none;
  border-radius: 0.2em;
  padding: 0.5em 1em;
  cursor: pointer;
  outline: none;
  color: #f6f6f6;
}
input {
  background-color: var(--color-surface-300);
  color: #fff;
  border: 1px solid var(--color-surface-400);
  outline: none;
  padding: 0.4em 0.4em;
  width: 70%;
  border-radius: 0.2em;
}
button {
  background-color: var(--color-primary-100);
  color: #fff;
  border: none;
  padding: 0.5em 1em;
  border-radius: 0.3em;
}
button:hover {
  background-color: var(--color-primary-300);
  cursor: pointer;
}
header h1 {
  font-size: 1.5em;
  font-weight: lighter;
}
.header-div h2 {
  font-size: 1.3em;
}
h1 {
  color: #e6e6e6;
}
h4 {
  text-align: center;
  margin-bottom: 2em;
}

a {
  text-decoration: none;
}
/*--------------TABLE----------------- */
table {
  width: 100%;
  overflow-x: auto;
  width: max-content;
  min-width: 100%;
  border-collapse: collapse;
}
table thead tr th {
  padding: 1em 0em;
}
table thead tr:nth-child(2) th {
  padding: 0.5em 0.1em 1em 0.9em;
  border-bottom: 0.05em solid var(--color-surface-400);
}
table thead tr:nth-child(1) th {
  padding: 1em 0.1em 0.5em 0.9em;
}
table tbody tr td {
  padding: 1em 1em;
  border-bottom: 0.05em solid var(--color-surface-400);
}
table thead tr {
  background-color: var(--color-surface-100);
}

table thead th {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-align: left;
}
table tbody tr {
  font-size: 0.8em;
  color: #fff;
  background-color: var(--color-surface-100);
}
table tbody tr:first-child {
  border-top: 0.05em solid var(--color-surface-400);
}
table tbody td {
  padding: 1.2em 0em;
  font-weight: 200;
  text-align: left;
}
table tbody tr:hover {
  cursor: pointer;
  background-color: var(--color-surface-300);
  color: var(--color-primary-600);
}
table {
  border-left: 0.05em solid var(--color-surface-100);
  border-right: 0.05em solid var(--color-surface-100);
}
